$background-red: #fc3e1d;
$background-amber: #FFC107;
$master-view-width: 30%;
$indigo-color: #3F51B5;

@mixin transition($animation_time) {
	-webkit-transition: $animation_time ease-in-out;
	-moz-transition: $animation_time ease-in-out;
	-o-transition: $animation_time ease-in-out;
	transition: $animation_time ease-in-out;
}

@mixin widthTransition($time) {
	-webkit-transition: width $time;
	transition: width $time;
}

@mixin rotate_transform() {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

@mixin rotateY_transform() {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

html {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

$master-min-width: 400px;
.master-view {
	background: white;
	position: relative;
	width: $master-view-width;
	min-width: $master-min-width;
	margin: 0;
	height: 100%;
	$font-size: 48px;
	@include widthTransition(2s);
	.name {
		position: relative;
		.color-below-name {
			position: absolute;
			width: 209px;
			height: 80px;
			left: 20px;
			top: 30px;
			background-color: #FFEB3B;
		}
		h1, h2 {
			position: relative;
			z-index: 2;
			font-family: 'Oswald', 'Roboto', sans-serif;
		}
		h1 {
			margin: 40px 0 0 40px;
			display: inline-block;
			font-size: $font-size;
		}
		h2 {
			font-size: $font-size;
			display: inline-block;
		}
	}
	.detail-buttons {
		position: absolute;
		bottom: 40px;
		left: 40px;
	}
	
}


.transformed {
	@include rotateY_transform();
}

.width-eighty {
	width: 180%;
}
.width-twenty {
	width: 20%;
}

.detail-view {
	transition: background-color 0.5s ease;
	width: 100% - $master-view-width;
	background: $indigo-color;
	// background: #e8e8e8;
	overflow: scroll;
	padding: 20px;
}