body {
  overflow: hidden;
}

.mdl-layout__header {
  background-color: black;
}

.mdl-layout__drawer {
  background-color: #303F9F;
  border-right: 0;
  color: white;
}

.mdl-layout__drawer a {
  color: white !important;
  font-size: 16px;
}

.mdl-layout__drawer a:hover {
  background-color: #3F51B5 !important;
}

.main-content-wrapper {
  display: block;
  width: 800px;
  margin: 0 auto;
  height: 550px;
  margin-top: 100px;
  background: url("img/onePunch.jpg") center/cover; 
}
